.footer-prop-trading-account {
    text-align: left;
    padding: 20px;
  }
  
  .footer-prop-trading-account h4 {
    margin-bottom: 20px; 
  }
  
  .footer-prop-trading-account div {
    margin-bottom: 10px; 
  }
  